---
ci:
  # We rely on renovate to update it but there is no way to fully disable it
  # https://github.com/pre-commit-ci/issues/issues/83
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: quarterly
  autofix_commit_msg: |
    chore: auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  skip:
    - renovate-config-validator # container limits
repos:
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.53.0
    hooks:
      - id: renovate-config-validator
        alias: renovate
        args: [--strict]
  - repo: https://github.com/biomejs/pre-commit
    rev: "v2.3.8"
    hooks:
      - id: biome-check
        name: biome
        alias: biome
        args: [--unsafe]
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
        language_version: python3
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
